<div th:fragment="header" class="row" style="background:rgba(159, 167, 160, 1); margin: 0;">
    <ul>
        <li>
            <a class="active" href="/">
                <img src="/images/logo.png" width="200px">
            </a>
        </li>
        <li>
            <a href="sinov" th:text="#{test}"></a>
        </li>
        <li>
            <a class="disabled" style="cursor: no-drop" href="#guruh" th:text="#{testGroup}"></a>
        </li>
        <li style="float: right">
            <a href="/?lang">
                lotin
            </a>
        </li>
        <li style="float: right">
            <a href="/?lang=kr">
                krill
            </a>
        </li>
        <li style="float: right">
            <a href="register_form" th:style="'display:' + ${displayButton}" th:text="#{register}"></a>
        </li>
        <li style="float: right">
            <a href="/login" th:style="'display:' + ${displayButton}" th:text="#{login}">
                Kirish
            </a>
        </li>
        <li style="float: right">
            <a href="logout" th:style="'display:' + ${display}">
                Chiqish
<!--                <img th:src="${userPhoto}" width="30px">-->
                (<span th:text="${userName}"></span>)
            </a>
        </li>
        <li style="float: right">
            <a th:style="'display:' + ${display}"> record: <span th:text="${record}"></span> WPM</a>
        </li>
    </ul>
</div>

