
<div th:fragment="content" style="min-height: 600px; background-color: white; ">

        <h5 style="position: absolute;left: 45%">
            <span th:text="#{groupName}"></span> : <span th:text="${gName}"></span><br>
            <span th:text="#{groupPass}"></span> : <span th:text="${gPass}"></span>
        </h5>
        <!--    siz : <span th:text="${currentUser.getUserName}"></span>-->
        <br>
        <span th:text="#{groupMembers}"></span> :<br>
        <tr th:each="one: ${userNames}">
            <td th:text="${one}"></td><br>
        </tr>

        <div
                style=" text-align:center; width: 500px; margin-left: 420px; border-radius: 30px    ">
            <p id="result"
               style="border-radius:20px; font-family: Arial; padding-top: 20px;padding-bottom: 20px; font-size: 20pt">
            </p>
        </div>

    <!--TIMER-->
<!--    <div id="container" style="position: absolute; top: 100px">-->
        <div id="countdown">
            <canvas height="150" id="countdown360_countdown" width="150">
                <span aria-live="assertive" id="countdown-text" role="status"></span>
            </canvas>
        </div>
<!--    </div>-->

    <div>
        <!--    INPUT FIELD-->
        <input id="typingPlace" name="typingPlace"
               style="width: 20%;padding: 5px; font-size: 22pt;margin-left: 530px;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                border: 3px solid transparent;
                border-bottom-color: #118170;"
               type="text">
        <div>
            <!--TYPED VALUES-->
            <p id="values"
               style="font-size: 20pt;user-select: none;font-family: Quicksand;position: absolute;margin: 0 100px 0 100px; z-index: 100; color: #3fd942;background-color: rgba(255,255,255,0)"></p>

            <!--MAIN TEXT-->
            <p id="orgText"
               style="font-size: 20pt; -webkit-user-select: all; user-select: none; font-family: Quicksand; margin: 0 100px 0 100px; position: absolute; color: #484747; z-index: 0"
               th:text="${text}">

            </p>
        </div>
        <!--INPUT FIELD SCRIPTS-->
        <script>
            const input = document.getElementById("typingPlace");
            const result = document.getElementById("result");
            const successed = document.getElementById('values');
            var mainText = document.getElementById("orgText");
            var orgText = mainText.textContent.trim().split(' ');

            input.focus();
            input.addEventListener('input', updateValue);
            let cntCorrectWords = 0;
            let cntChanging = 0;

            function updateValue(e) {
                cntChanging++;
                if (cntChanging === 1) {
                    countdown.start();
                }
                let text = e.target.value;
                if (orgText[0].startsWith(text.trim())) {
                    input.style.color = 'green';
                } else {
                    input.style.color = 'red';
                }
                if (text.endsWith(' ') && text.trim() === orgText[0]) {
                    orgText.shift()
                    successed.textContent = successed.textContent + ' ' + text.trim();
                    input.value = '';
                    cntCorrectWords++;
                    console.log(orgText);
                }
            }
        </script>

        <!--PROGRESS BAR SCRIPTS-->
        <script charset="utf-8" type="text/javascript">
            var countdown = $("#countdown").countdown360({

                radius: 70,                    // radius of arc
                strokeStyle: "#070707",          // the color of the stroke
                strokeWidth: undefined,          // the stroke width, dynamically calulated if omitted in options
                fillStyle: "#8ac575",            // the fill color
                fontColor: "#477050",            // the font color
                fontFamily: "sans-serif",        // the font family
                fontSize: undefined,             // the font size, dynamically calulated if omitted in options
                fontWeight: 700,                 // the font weight
                autostart: false,                 // start the countdown automatically
                seconds: 60,                     // the number of seconds to count down
                label: ["second", "seconds"],    // the label to use or false if none
                startOverAfterAdding: true,      // Start the timer over after time is added with addSeconds
                smooth: true,                   // should the timer be smooth or stepping
                onComplete: function () {
                    input.setAttribute("readonly", "true");
                    result.textContent = "Yozish tezligingiz : " + cntCorrectWords + " WPM";
                    result.style.background = 'rgba(13,234,17,0.2)';
                }
            });
        </script>
    </div>


</div>