<div th:fragment="content">
    <div align="center">
        <h1 th:text="#{createGroupText}"></h1>
        <div style=" width: 500px">
            <p th:if="${message != null}" th:text="#{groupPageMess}"></p>
            <form action="/guruhWindow" method="get">
                <input th:placeholder="#{groupName}" class="form-control" name="name" type="text"><br>
                <input th:placeholder="#{groupPass}" class="form-control" name="password" type="text"><br>
                <button th:text="#{submit}" type="submit" class="btn btn-info"></button>
            </form>
        </div>
    </div>
</div>
