<div th:fragment="content">
    <div align="center">
        <div style="margin-top: 10%; width: 300px">
            <span class="alert-danger" th:text="${plcSingIng}"></span>
            <!--            formga id qo'shib ishlatish kerak ekan-->
            <form action="/login" method="post" enctype="multipart/form-data">
                <!--            <form (ngSubmit)="submitForm()">-->
                <h3 th:text="#{logFormHeader}"></h3>
                <h5 align="center" style="color: red" th:text="${message}"></h5>

                <input th:placeholder="#{plc.inputUserName}" class="form-control" name="userName" type="text"><br>
                <input th:placeholder="#{plc.inputUserPass}" class="form-control" name="password" type="text"><br>

                <button class="btn btn-success" type="submit" th:text="#{enter}"></button>
            </form>
        </div>
    </div>
</div>
