<div th:fragment="content">
    <div align="center">
        <div style="margin-top: 5%; width: 300px">
            <form action="/register" method="post" enctype="multipart/form-data">
                <h3 th:text="#{register}"></h3>
                <p th:text="${message}"></p>
                <input class="form-control" name="photo" type="file"><br>
                <input th:placeholder="#{plc.fio}" class="form-control" name="fullName" type="text"><br>
                <input th:placeholder="#{plc.login}" class="form-control" name="userName" type="text"><br>
                <input th:placeholder="#{plc.email}" class="form-control" name="email" type="email"><br>
                <input th:placeholder="#{plc.password}" class="form-control" name="password" type="password"><br>
                <input th:placeholder="#{plc.checkPass}" class="form-control" name="checkPassword" type="password"><br>
                <button th:text="#{submit}" type="submit" class="btn btn-success"></button>
            </form>
        </div>
    </div>
</div>
