body {
    min-height: 700px;
    background-image: conic-gradient(#1cf6d5, #111111, #1cf6d5);
    /*background-image: url("/static/bg_3.jpg");*/
}

input {
    height: 25pt;
    width: 20%;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.3);
    margin: 3px;
    background: rgba(255, 255, 255, 0.2);
}

button {
    color: #111111;
    background-color: #b1f6ec;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border-color: #1cf6d5;
    box-shadow: #111111;
    margin: 10px;
}

h5 {
    font-size: 14pt;
}

h3 {
    font-size: 16pt;
    color: aliceblue;
}